<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>Catalog App | Category</title>
</head>

<div class="login column">


<h1>Items of "{{ category.title }}" category</h1>

<a href="{{ url_for('Catalog') }}">return</a>

<a href="{{ url_for('addItem', category_id = category.id) }}">add items</a>

<h2>below are items of {{category.title}} category</h2>




{% for item in items %}
	
	<a href="{{ url_for('showItem', category_id = category.id, item_id = item.id) }}"><h3>{{ item.title }}</h3></a>

{% endfor %}





</div>